@charset "utf-8";
html {
  background-image: url("./background.jpg");
}
body {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
}

/* nav */
a {
  font-family: mongoose, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

/* Links inside the navbar */
.nav-bar .dropbtn {
  overflow: hidden;
  font-family: mongoose, sans-serif;
  display: inline-block;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: top 0.3s;
}

/* The dropdown container */
.dropdown {
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  border: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0px; /* Important for vertical align on mobile phones */
  cursor: pointer;
}

 /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .g_logo {
    width: 70px;
    margin: 10px;
    cursor: pointer;
  }

  h1,
  h2 {
    font-family: input-mono, monospace;
    padding-left: 20px;
    padding-right: 15px;
    color: white;
  }
  h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    margin-top: 5px;
    margin-left: -15px;
  }

  h2 {
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 10px;
  }

  @media (min-width: 1001px) {

    /* Centre the nav bar */
    .nav-bar {
        position: fixed;
        text-align: center;
        background-color: black;
        width: 100%;
    }

    /* content */
    .box {
        border: solid #867b5d;
        border-width: 1.5px;
        background-color: #252525;
        margin-left: 20%;
        margin-right: 20%;
        padding: 10px;
        margin-top: 90px;
    }

    .box-content {
        border: solid #867b5d;
        border-width: 1.5px;
    }

    .social_ul {
        text-align: center;
        width: 90%;
        margin-top: 20px;
    }
}


/* Width between 1000px and 723px */
@media (max-width: 1000px) and (min-width: 723px) {

    /* Centre the nav bar */
    .nav-bar {
        position: fixed;
        text-align: center;
        left: 2px;
        right: 40px;
        margin-top: -30px;
        background-color: black;
        width: 100%;
    }

    /* content */
    .box {
        border: solid #867b5d;
        border-width: 1.5px;
        background-color: #252525;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        margin-top: 130px;
    }

    .box-content {
        border: solid #867b5d;
        border-width: 1.5px;
    }

    .social_ul {
        text-align: center;
        width: 70%;
        margin-top: 20px;
    }
}


/* Width from 724px or less */
@media (max-width: 724px) {

    /* Centre the nav bar */
    .nav-bar {
        position: fixed;
        text-align: center;
        left: 2px;
        right: 40px;
        margin-top: -30px;
        background-color: black;
        width: 100%;
    }

    /* content */
    .box {
        border: solid #867b5d;
        border-width: 1.5px;
        background-color: #252525;
        margin-left: 5%;
        margin-right: 5%;
        margin-left: -19.5px;
        padding: 10px;
        margin-top: 130px;

    }

    .box>div {
        border: solid #867b5d;
        border-width: 1.5px;

    }

    .social_ul {
        width: 75%;
        margin-top: 20px;
        text-align: center;
    }

}

  /* social media */
  #social_li1 {
    display: inline-block;
  }

  #social_li2 {
    display: inline-block;
  }

  #social_li3 {
    display: inline-block;
  }

  #social_li4 {
    display: inline-block;
  }

  #social_li5 {
    display: inline-block;
  }

  .social_logo {
    width: 35px;
    margin-left: 30px;
    margin: 1.5px;
    padding: 20px;
    cursor: pointer;
  }

  .social_logo:hover {
    margin: 0px;
    border: solid white 1.5px;
  }

  input:hover {
    background-color: #c2b27d;
    border-color: #c2b27d;
    color: black;
  }
  

